#root {
  margin: 1vh auto;
  text-align: center;
}

.pip-os {
  width: 80vw;
  height: 80vh;
  border: 10px solid var(--text-color);
  border-radius: 64px;
  padding: 2vw 0vw;
}

.pip-os-torch {
  width: 80vw;
  height: 80vh;
  border: 10px solid var(--dark-bg-color);
  color: var(--dark-bg-color);
  background-color: var(--torch-color);
  border-radius: 64px;
  padding: 2vw 0vw;
  overflow: none;
}

.pip-icons {
  position:fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.pip-icon {
  min-width: 16px;
  max-width: 36px;
  padding: 20px;
}

.welcome-block {
  overflow-y:hidden;
}

.vault-icon {
  width: 12vw;
}

.app-screen::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
}
.app-screen::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
}
.app-screen::-webkit-scrollbar-track {
  background-color: var(--dark-bg-color)
}

.app-screen {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-bottom: 1vw;
  scrollbar-color: var(--text-color);
}

.fade-in-button {
  animation: fade-in 3s forwards;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
